/* calendar.css */

/*오른쪽 버튼 css*/
.fc .fc-button-primary:disabled {
    background-color: transparent !important;
    color: #000000;
    border: none;
}
.fc .fc-button-primary {
    background-color: transparent !important;
    color: #000000;
    border: none;
}
.fc .fc-button-primary:hover {
    color: #000000;
}

/*달력 css*/
.fc-theme-standard td, .fc-theme-standard th {
    border: none;
}
.fc-theme-standard .fc-scrollgrid {
    border: none;
}
.fc .fc-daygrid-day-top {
    justify-content: center;
}
.fc-day-sun a { /* 일요일 컬러 */
    color: #cf0000;
}
.fc .fc-col-header-cell-cushion { /*요일 컬러*/
    color: #000000;
}
/*년월 text*/
.fc .fc-toolbar-title {
    font-size: 1.5em;
    margin: 0 0 0 13px;
}

/*.fc  {*/
/*    !*달력 높이*!*/
/*    height: 405px !important;*/
/*}*/

.event-details {
    margin-top: 20px;
    padding: 15px;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
}

.event-crop {
    font-size: 15px;
    font-weight: bold;
    color: #d9534f;
    margin-bottom: 5px;
}

.event-icon {
    font-size: 24px;
    margin-right: 10px;
}

.event-content {
    display: flex
;
    align-items: center;
    justify-content: space-between;
}

.recent {
    color: green;
    font-size: 14px;
}

.temperature {
    font-size: 14px;
}

p.recent-label {
    color: #1BA639;
    font-size: 14px;
    margin-left: 10px;
}

.event-header-detail {
    display: flex
;
    align-items: baseline;
}
.event-card{
    border-radius: 10px;
    background: #fafafa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1px 10px 4px 10px;
}

p.event-time {
    margin: 3px;
    color: #78777B;
}
.p.weather-info {
    color:#78777B;
}

.event-description {
    display: flex;
    align-items: baseline;
}

.event-box {
    border: none;
    height: 4px;
    margin: 1px 0;
}

.event-red {
    background-color: red;
    border: none;
    width: 5px;
    height: 5px;
}

.event-green {
    background-color: green;
}

.event-yellow {
    background-color: yellow;
}

.event-blue{
    background-color: blue;
}
/*캘린더 기본 배경색 제거*/
a.fc-event.fc-event-start.fc-event-end.fc-event-future.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
    background-color: transparent;
    border: none;
}

.crop_name {
    background-color: #1BA639;
    border-radius: 7px;
    width: 82px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}
.event-card {
    position: relative;
}



.fc-h-event .fc-event-title-container {
    height: 4px !important;
}


.fc-h-event {
    width: 10px !important;
    height: 10px !important;
    display: block !important;
    border-radius: 50% !important; /* 동그랗게 만들기 */
    border: none !important; /* 테두리 제거 */
    padding: 0 !important;
    margin: 0 auto !important;
    overflow: hidden; /* 혹시라도 남은 내용 숨기기 */

}

.fc-daygrid-day {
    pointer-events: auto;
}

.event-box {
    pointer-events: none !important;
}


.fc-daygrid-event-harness {
    pointer-events: none !important;
}

/* 카테고리별 스타일 적용 */
.event-red {
    background-color: #E54D11 !important;
}

.event-blue {
    background-color: #1C84E5 !important;
}

.event-green {
    background-color: #1BA639 !important;
}

.event-yellow {
    background-color: #F6AF2B !important;
    color:black !important;
}
