
.details_container {
    background-color: #F6F6F8;

}

.crop_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    margin-left: 35%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F8;
    padding-right: 20px;
    margin-top: -60px;
}

.header img {
    width: 36px;
    height: 36px;
    margin-left: 10px;
}

.main {
    background-color: white !important;
    width: 100%;
    height: 70vh;
    margin: 0;
}
