.slider_container {
    margin: 20px 10px;
    padding: 15px;
    background-color: #F0F0F0;
    border-radius: 10px;
    overflow: hidden;
}

.slider_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_wrapper {
    display: flex; /* ✅ 가로 정렬 */
    gap: 15px;
    overflow-x: auto; /* ✅ 가로 스크롤 허용 */
    scroll-behavior: smooth;
    /*white-space: nowrap;*/
    padding-bottom: 10px;
}

.slider_item {
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: left;
    font-size: 14px;
    width: 30vw;
    min-width: 250px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    position: relative;
    gap: 12px;
    padding-left: 20px;
}

/* ✅ 좌측 이미지 */
.slider_image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

/* ✅ 우측 상단 태그 */
.category {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    width: 44px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.summary {
    width: 90%;
    margin-left: 10px;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

/* Style for the dropdown */
.dropdown {
  padding: 8px 16px;
  background-color: white;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  appearance: none; /* Removes default system dropdown style */
  cursor: pointer;
  font-size: 16px; /* Adjust as needed */
  color: #333; /* Dark gray text color */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  /* Adding a custom arrow indicator */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M7%2010l5%205%205-5H7z%22%20fill%3D%22%23AAB4BE%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/* Hover and Focus styles */
.dropdown:hover,
.dropdown:focus {
  border-color: #888; /* Darker border on hover/focus */
  box-shadow: 0 0 8px rgba(0,0,0,0.1); /* Soft shadow for focus */
  outline: none; /* Remove the default focus outline */
}

