.slider_container {
    margin: 20px 10px;
    padding: 15px;
    background-color: #F0F0F0;
    border-radius: 10px;
    overflow: hidden;
}

.slider_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_wrapper {
    display: flex; /* ✅ 가로 정렬 */
    gap: 15px;
    overflow-x: auto; /* ✅ 가로 스크롤 허용 */
    scroll-behavior: smooth;
    /*white-space: nowrap;*/
    padding-bottom: 10px;
}

.slider_item {
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: left;
    font-size: 14px;
    width: 30vw;
    min-width: 250px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    position: relative;
    gap: 12px;
    padding-left: 20px;
}

/* ✅ 좌측 이미지 */
.slider_image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

/* ✅ 우측 상단 태그 */
.category {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    width: 44px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.summary {
    width: 90%;
    margin-left: 10px;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

.dropdown {
  padding: 8px 16px;
  background-color: white;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px; 
  color: #333; 
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.Loading {
    height: 30%;
}

.find {
    display: flex;
    justify-content: end;
    opacity: 0.4;
    margin-right: 10px;
}