.cropListContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.sliderHeader_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 40%;
}

.cropRow {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  flex-wrap: wrap; 
  width: 60%; 
}

.cropItem {
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 10%; 
}

.cropItem:hover {
  transform: scale(1.1);
}

.cropImage {
  width: 100%;
  height: auto; 
}

.sliderHeader_left h3, .sliderHeader_left p {
  margin: 0 0 10px 0;
}
